metadata.config_version_wildcard = "0.51.*"
#This is the most up to date conf

[game_setup]
# Aliases for "v348" is "2018M", "v463" is "2021E".
roblox_version = '2018'

title = 'Crossroads'
description = 'The classic Rōblox map.'
creator_name = 'David Baszucki, Erik Cassel'

icon_uri = 'https://ia600506.us.archive.org/34/items/soundcloud-1509042007/1509042007.jpg'

startup_script = 'game.workspace.FilteringEnabled = true'

[game_setup.place_file]
# Can be a file path or an online resource through HTTP(S).
rbxl_uri = './Crossroads.rbxl'

# When game:SavePlace() is called, overwrites the place at `rbxl_uri`.
# Doesn't work if `rbxl_uri` points to an online resource.
enable_saveplace = false

[game_setup.persistence]
sqlite_path = '_.sqlite'
clear_on_start = false

[server_core]
retrieve_default_user_code = '''
function(tick) -- float -> str
    return string.format('Player%d', tick)
end
'''

check_user_allowed = '''
function(user_iden, user_code) -- string -> bool
    return true
end
'''

retrieve_avatar_type = '''
function(user_iden, user_code) -- str -> str
    return 'R15'
end
'''

retrieve_avatar_items = '''
function(user_iden, user_code) -- str -> [str]
    if user_code == 'VisualPlugin' then
        return {
            10726856854,
            9482991343,
            9481782649,
            9120251003,
            4381817635,
            6969309778,
            5731052645,
            2846257298,
            121390054,
            261826995,
            154386348,
            201733574,
            48474294,
            6340101,
            192483960,
            190245296,
            183808364,
            34247191,
        }
    elseif user_code == 'Twig' then
        return {
            301820642,
            5243961918,
            11857928130,
            86487700,
            16630147,
        }
    end
    return {}
end
'''

#Please refer to this page for avatar colors. https://create.roblox.com/docs/reference/engine/datatypes/BrickColor

retrieve_avatar_colors = '''
function(user_iden, user_code) -- str -> {[str]: number}
    if user_code == 'VisualPlugin' then
        return {
            head = 315,
            left_arm = 315,
            left_leg = 315,
            right_arm = 315,
            right_leg = 315,
            torso = 315,
        }
    elseif user_code == 'Twig' then
        return {
            head = 361,
            left_arm = 361,
            left_leg = 361,
            right_arm = 361,
            right_leg = 361,
            torso = 361,
        }
    end
    return {
        head = BrickColor.Random().Number,
        left_arm = BrickColor.Random().Number,
        left_leg = BrickColor.Random().Number,
        right_arm = BrickColor.Random().Number,
        right_leg = BrickColor.Random().Number,
        torso = BrickColor.Random().Number,
    }
end
'''

retrieve_avatar_scales = '''
def f(*a):
    return {
        "height": 1,
        "width": 1,
        "head": 1,
        "depth": 1,
        "proportion": 0,
        "body_type": 0,
    }
'''

retrieve_username = '''
def f(user_id_num, user_code):
    return user_code
'''

filter_text = '''
def f(text, user_id_num, user_code):
    return (
        text
        .replace('oo','òó')
        .replace('OO','ÒÓ')
        .replace('ee','èé')
        .replace('EE','ÈÉ')
        .replace('Roblox','Rōblox')
        .replace('ROBLOX','RŌBLOX')
    )
'''

retrieve_groups = '''
function(user_iden, user_code) -- str -> str
    return {
        ['1200769'] = 255;
        ['2868472'] = 255;
        ['4199740'] = 255;
        ['4265462'] = 255;
        ['4265456'] = 255;
        ['4265443'] = 255;
        ['4265449'] = 255;
    }
end
'''

retrieve_default_funds = '''
def f(*a):
    return 6969
'''

chat_style = 'ClassicAndBubble'

[server_assignment]
players.maximum = 4096
players.preferred = 666
instances.count = 1
